<!DOCTYPE html>
<html>
<head>
  <title>SecureChat</title>
</head>
<body>
  <h2>Secure Chat</h2>
  <input id="content" placeholder="Type a message" />
  <button onclick="sendMessage()">Send</button>

  <ul id="chat"></ul>

  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@6.1.2/umd/stomp.umd.min.js" integrity="sha384-ycSK3qU5pZsSRzO9NPcFiUOAZUpBxV3vTWbbtZzOq6cPbL0dfWZ4AHrPv2ZLDpsU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script th:src="@{/js/app.js}"></script><!--TODO: FIX CHAT after login; TODO: apply thymeleaf-->
</body>
</html>
