<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{login.title}">Login - SecureChat</title>
  <!-- Thymeleaf rewrites URL (th:href) + plain href fallback -->
  <link rel="stylesheet"
          th:href="@{/css/colors.css}"
          href="/css/colors.css" />
  <link rel="stylesheet" 
		  th:href="@{/css/styles.css}"
		  href="/css/styles.css" />
  <link rel="icon" 
  		  th:href="@{/favicon.ico}"
  		  href="/favicon.ico" sizes="any">
  <link rel="icon" 
  		  th:href="@{/favicon.svg}"
  		  href="/favicon.svg" type="image/svg+xml">
</head>
<body>
	<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
	    enabled. Please enable
	    Javascript and reload this page!</h2></noscript>
  <div class="container">
    <h2 th:text="#{login.header}">Login</h2>
    <div id="errorMessage" class="error"></div>

	<form id="loginForm">
	    <input id="loginUsername" placeholder="Username" th:value="${username}" />
	    <input id="loginPassword" type="password" placeholder="Password" />
	    <button onclick="login()" type="submit">
	      <span th:text="#{login.button}">Login</span>
	    </button>
	</form>
  </div>

  <script src="/js/stomp.umd.min.js"></script>
  <script src="/js/sockjs.min.js"></script>
  <script th:src="@{/js/app.js}"></script>
</body>
</html>
